/*
gofoot settings

When processing a message or connecting to a network, settings will be pulled
from wherever is applicable and most specific. If a setting is set for the
channel the message was posted in, that channel's settings will be respected,
then that network's, then the global ones.

The documentation server doesn't run per-network, so it is meaningless to set
the listen address at anything more specific than globally, and similarly
network addresses don't mean anything per-channel.
*/

package main

func GetUserConfig() UserConfig {
	return UserConfig{
		global: map[string]string {
			"nick": "gofoot",
			"user": "gofoot",

			// the character used to mark the start of commands
			"comchar": "!",

			// listen address for the help server
			"listen": "localhost:4321",
			// the url to send people to the help server with
			"url": "http://localhost:4321",

			// plugin-specific stuff
			"rantext_sources": "jerkcity,troll",
			"lastfm_api_key": "",
		},
		network: map[string]map[string]string {
      // Invoke gofoot with `./gofoot robot [network]`, where [network] is the
      // string you're specifying here; in this case, it'd be "highway".
			"highway": map[string]string {
				"nickserv_password": "sekrit",
				"address": "irc.irchighway.net:6669",
				"rooms": "#channel_a,#a_channel",
				"ignore": "a_robot,another_robot",

				// anything but the empty string or complete absence counts as true
				"ssl": "yep",
			},
		},
		channel: map[string]map[string]map[string]string {
			"highway": map[string]map[string]string {
				"#a_channel": {
					// if there's a robot in this channel that already uses !, we might
					// want to use + for this channel alone
					"comchar": "+",

					// if these people are heathens, they might not want inane animal
					// noises or http metadata coming into their channel
					"blacklist": "Woof,Http",
				},
			},
		},
	}
}
